h1 {
    color:rgb(93, 42, 165);
    text-align:start
}

p{
    color:rgb(226, 43, 226);
    font-size: 35px;
    font-family:fantasy;
    text-align: ;
}

li{
    color: rgb(255, 0, 0);
    font-size: 15px;
    text-align: left;
}

/*.special{
    color: rgb(210,105,30);
    font-weight:bolder;
    font-size:65px ;
    font-family: unset;
    text-align:justify;
}*/

body{
    background-color: rgb(225, 244, 23) ;
}
